@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

:root {
    --main-bg: #000000;
    --sub-cl: green;
    --sub-cl-two: #FFFFFF;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-color: var(--main-bg);
}

main > div {
    height: 75%;
    width: 20%;
    margin: 0px 30px;
}

#middle-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#left-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#game-canvas{
    width: 350;
    height: 700;
    background-color: var(--main-bg);
    border: 2px solid var(--sub-cl-two);
}

h1 {
    color: var(--sub-cl);
    font-size: 50px;
    -webkit-text-stroke: 2px var(--sub-cl-two);
}

#board > div > p {
    font-size: 30px;
    color: var(--sub-cl-two);
}

#left-div > p {
    font-size: 10px;
    color: var(--sub-cl-two);
    opacity: 0.2;
}

#start-button {
    width: 150px;
    height: 60px;
    background-color: var(--sub-cl);
    border: 2px solid var(--sub-cl-two);
}

#start-button:hover {
    cursor: pointer;
    box-shadow: 5px 5px grey;
}
